# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Log files
App/Logs/
MATLAB/

.pio/

# KiCad backups and auto-saves
*.bak
*.bck
*-bak
*~
_autosave-*

# Routing, Netlists, and temporary files
*.net
*.dsn
*.ses

# User interface settings (window positions, active layers, etc.)
*.kicad_prl

# Caches, logs, and reports
fp-info-cache
*.log
*.rpt
*.drc
*.erc